.footer {
	width: 100%;
	background-position: center;
	padding: 60px 0;
	background: $bg-color-footer;

	@include for-phone-up {
		min-width: 480px;
	}
}

.footer__wrapper {

	@include for-tablet-up {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@include for-desktop-up {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
}

.wrapper-tab {
		margin-bottom: 60px;


	@include for-tablet-up {
		display: flex;
		justify-content: space-around;

	}
	@include for-desktop-up {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0;
	}
}

.address__list--bottom {

	@media (max-width: 767px) {
		margin-bottom: 60px;
	}
	
	@media (max-width: 1199px) {
		text-align: center;
		
	}


}

.footer__logo {
	justify-content: center;
	margin-bottom: 20px;
}


.address__item--bottom:not(:last-child) {
	margin-bottom: 9px;
}

.address__link--bottom {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: $links-color-footer;
	@include trans (color);

	&:hover,
	&:focus {
		color: $accent-color-link;
	}
}

.link-map {
	margin-top: 20px;
	color: $links-color-map;
}

.footer-column {
	display: flex;
	flex-direction: column;


	@include for-desktop-up {
		display: inline-block;
	}
}

.footer-column:first-child {
	@include for-desktop-up {
		margin-right: 70px;
	}
}

.column-second {


	@include for-desktop-up {
		margin-top: 12px;
		margin: 0;
	}
}

.column-third {
	display: flex;
	flex-direction: column;
}

.footer__title {
	margin-bottom: 20px;

	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	color: $text-color-light;


	// @include for-phone-up {}

		text-align: center;

	@include for-desktop-up {
		text-align: start;
	}
}

.link-social {
	display: flex;
	align-items: center;
}

.footer__list-icon {
	display: flex;
	justify-content: center;
}

.footer__item-icon:not(:last-child) {
	margin-right: 10px;
}


.footer__icon-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	@include trans (background-color);

	&:hover,
	&:focus {
		background: $accent-color-link;
	}
}


.footer__icon {
	fill: $icon-color-hover;
}


.footer__form {


		display: flex;
		justify-content: center;
		flex-direction: column;


	@include for-desktop-up {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}



.footer__email {

	outline: none;
	
	margin-right: 12px;
	padding: 15px 16px;
	border-radius: 4px;
	background: var(--bg-color-footer);
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	@include trans (border-color);

		display: block;
		margin: 0 auto;
		width: 100%;

	@include for-tablet-up {

		width: 450px;
		margin: 0 auto;
	}
	@include for-desktop-up {
		display: inline-block;
		margin-right: 10px;
		width: 358px;
	}



	&:hover,
	&:focus {
		border-color: $accent-color-link;
	}
}



.footer__btn {


	display: flex;
	justify-content: center;
	align-items: center;
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 15px 30px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.06em;
	background-color: $button-color;
	color: $text-color-light;
	@include trans (background-color);
	
		margin: 20px auto 0;
		max-width: 100%;
	@include for-phone-up {
		width: 200px;
	}
	@include for-desktop-up {
		margin: 0;
	}

	
	&:hover,
	&:focus {
		background-color: $accent-color-button;
	}
}

.footer__icon-send {
	width: 24px;
	height: 24px;
	margin-left: 10px;
}