//* Colors


// Text colors

$text-color-main: #212121;
$text-color-description: #757575;
$text-color-light: #ffffff;


// Logo

$logo-color: #2196f3;
$logo-color-top: #000000;
$logo-color-footer: #ffffff;


// Backgrounds

$bg-color-main: #ffffff;
$bg-color-header: #ffffff;
$bg-color-secondary: #f5f4fa;
$bg-color-footer: #2f303a;
$bg-color-cards: #ffffff;
$bg-color-slider: rgba(33, 150, 243, 0.9);


// Borders

$border-color-cards: #eeeeee;
$border-color-header: #ececec;


// Buttons

$button-color:#2196f3;
$button-color-filter: #f5f4fa;


// Links

$links-color-header: #757575;
$links-color-footer: rgba(255, 255, 255, 0.6);
$links-color-map: #ffffff;


// Accents

$accent-color-link: #2196f3;
$accent-color-button: #188ce8;

//* Fonts

$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;


//* Icons

$icon-color-main: #AFB1B8;
$icon-color-hover: #ffffff;