.logo {
	display: flex;
	align-items: center;

	font-size: 24px;
	line-height: 1.17;

	font-family: $font-logo;
	font-weight: 700;
	

	text-align: center;
	color: $logo-color;
	letter-spacing: 0.03em;
	@include for-tablet-up {

	}

	@include for-desktop-up {
		font-size: 26px;
		line-height: 1.19;

		margin-right: 93px;
	}

	&-top {
		color: $logo-color-top;
	}

	&-bottom {
		color: $logo-color-footer;
	}
}

