.logo {
	display: flex;
	align-items: center;

	

	font-family: $font-logo;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;

	text-align: center;

	color: $logo-color;

	@include for-desktop-up {
		margin-right: 93px;
	}

	&-top {
		color: $logo-color-top;
	}

	&-bottom {
		color: $logo-color-footer;
	}
}

